#box1{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* background: rgb(255, 255, 255); */
    background-image: linear-gradient(to right,rgb(177, 252, 255), rgb(180, 210, 255));
    border-radius: 10px;
}
#box1:hover{
    margin-top: 10px;
    background: rgb(0, 157, 230);
    color: white;
    font-weight: bold;
}
#gambar{
    border-radius: 10px;
}
#TitlePad{
    font-size: 20px;
    margin-top: 30px;
    border-bottom: 1px solid black;
}
#Title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

#TitleLead{
    padding-bottom: 30px;
    font-size: 30px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    color: white;
    background-image: linear-gradient(to right,rgb(0, 247, 255), rgb(50, 132, 255));
}
#sbmt{
    background: rgb(50, 132, 255);
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#sbmt:hover{
    background: rgb(0, 95, 238);
}
#buttonPlay{
    margin-right: 10px;
}