.myWrapper {
  padding: 25px 70px;
  margin-top: 100px;
}

.regWrapper {
  margin: 250px 700px;
}

.labelLogin {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
  /* color: black; */
}

#logbtn {
  border-radius: 20px;
  padding: 10px;
  background: #547BE4;
  font-weight: 600;
}

#logbtn:hover {
  background: #1988E2;
}

#logtoregbtn {
  border-radius: 10px;
  margin: 15px 100px;
  background: green;
  font-weight: 600;
}

#logtoregbtn:hover {
  background: greenyellow;
}

#regtologbtn {
  border-radius: 10px;
  margin: 15px 100px;
  background: green;
  font-weight: 600;
}

#regtologbtn:hover {
  background: green;
}

#regbtn {
  border-radius: 20px;
  padding: 10px;
  background: #547BE4;
  font-weight: 600;

}


#regbtn:hover {
  background: #1988E2;

}

.labelRegis {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

.progressCard {
  border: 1px solid blue;
  border-radius: 18px;
  padding: 10px;
  /* margin: 30px 500px 20px 500px; */
}

.myProgress {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 500;
}

.progressLabel {
  font-size: 20px;
  font-weight: 500;
}

.progressCircular {
  background: #1988E2;
  /* border: 1px solid blue; */
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 100px;
  padding: 8px;
}

.boxPersen {
  background: white;
  /* border: 1px solid blue; */
  padding: 10px;
  border-radius: 100px;

}

.labelPersen {
  font-size: 48px;
  color: #1988E2;
  font-weight: 600;
  margin-top: 40px;
}


#cardFeature {
  border: 1px solid blue;
  border-radius: 18px;
  padding: 20px 30px;
  /* margin: 30px 500px 20px 500px; */
  margin-top: 30px;
  background: linear-gradient(to right, #D9E2F3, #86B2FD);

}

#cardFeature:hover {
  background: linear-gradient(to right, #B9D1F7, #547BE4);
}

/* .cardTitle { */
/*   color: white; */
/*   font-size: 24px; */
/*   font-weight: 600; */
/*   line-height: 0.2; */
/*   margin-top: 10px; */

/* } */

.cardDesc {
  border: none;
  /* border-radius: 18px; */
  color: black;
  font-size: 20px;
  font-weight: 500;
}

#cardFeature2 {
  border: 1px solid blue;
  border-radius: 18px;
  padding: 20px 0;
  /* margin: 30px 500px 20px 500px; */
  margin-top: 30px;
  background: linear-gradient(to right, #D9E2F3, #86B2FD);
  /* background: #B8D0F6; */
}

#cardFeature2:hover {
  background: linear-gradient(to right, #B9D1F7, #547BE4);
}



/* .cardTitle2 { */
/*   color: white; */
/*   font-size: 24px; */
/*   font-weight: 600; */
/*   line-height: 0.2; */
/*   margin-top: 10px; */

/* } */

.cardDesc2 {
  border: none;
  /* border-radius: 18px; */
  color: black;
  font-size: 20px;
  font-weight: 500;
}
