#mainbox{
    border: 2px solid rgb(33, 185, 255);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}

#colorr{
}

#xpbox{
    margin-right: 20px;
}